.login {
  padding-top: 216px;
}

.signup {
  padding-top: 216px;
}

h1 {
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

input {
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.email{
  margin: auto;
  width: 50%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.password__confirmation{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name{
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-validation {
  text-align: center;
  color: #f7972a;
}

.signup-validation {
  text-align: center;
  color: #f7972a;
}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: auto;
  margin-left: 25%;
  margin-right: 25%;

  &__confirm {
    display:inline-block;
    width: 100%;
    font-weight:400;
    font-size: large;
    text-align:center;
    vertical-align:middle;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    color:rgb(0, 0, 0);
    background-color:#73c0ff;
    border-color:#305777;;
  }

  &__cancel {
    display:inline-block;
    width: 100%;
    font-weight:400;
    font-size: large;
    text-align:center;
    vertical-align:middle;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    color:rgb(0, 0, 0);
    background-color:#eef7ff;
    border-color:#305777;;
  }
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: auto;
  margin-left: 25%;
  margin-right: 25%;

  &__confirm {
    display:inline-block;
    width: 100%;
    font-weight:400;
    font-size: large;
    text-align:center;
    vertical-align:middle;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    color:rgb(0, 0, 0);
    background-color:#73c0ff;
    border-color:#305777;;
  }

  &__cancel {
    display:inline-block;
    width: 100%;
    font-weight:400;
    font-size: large;
    text-align:center;
    vertical-align:middle;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    color:rgb(0, 0, 0);
    background-color:#eef7ff;
    border-color:#305777;;
  }
}

@media only screen and (min-width: 800px) {
  .login {
    padding-top: 72px;
  }

  .signup {
    padding-top: 72px;
  }

  .login-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__confirm{
      margin-right: .5rem;
    }

    &__cancel{
      margin-left: .5rem;
    }
  }
  
  .signup-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__confirm{
      margin-right: .5rem;
    }

    &__cancel{
      margin-left: .5rem;
    }
  }
}